body{
    background-color: #0066FF;
    color:#FAC800;
    font-family: Tahoma, sans-serif;
}
.jumbotron{
    background-color: #0066FF;
    margin:0;
}
.alertbox{
    height:100px;
}
.alert{
     visibility:hidden;
 }
.nav{
    margin:0;
}
.container{
    margin:0;
}
header {
    background-color:  #0066FF;
    display: inline-block;
    border:solid 2px #FAC800;
    margin:0;
}
.form-group{
    padding:0;
    margin:2px;
}
header nav {
    width:200px;
}
h1, h2, h3, h4{
    color:#FAC800;
}
header h1{
    width:200px;
}
.btn btn-default dropdown-toggle {
    font-size:50%;
}
#topBorder{
    background-color: #0066FF;
    margin-bottom:10px;
    border:solid 2px #FAC800;
}
#quizHeader{
    display:inline-block;
    margin:0;
}
#quizName {
    width:200px;
    height: 1.5em;
}
#timeInt{
    width:75px;
    position:relative;
    top:-20px;
}
.form-group .col-sm-12{
    display:inline-block;
    width:340px;
}
input{
    width:350px;
}
#questionBorder{
    background-color: #0066FF;
    border:solid #FAC800;

}
#answerBorder > div{

    white-space:nowrap;
    width:500px;
    background-color:#AA98D4;
    border:solid #FAC800;
}

#addQuestion > div{
    width:inherit;
    white-space:nowrap;
    border:none;
    margin:0;
}

#postQuizButton, #nextButton{
    display:inline-block;
    width: 100px;

}
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(100,0,0,.5);
    box-shadow: inset 0 0 100px rgba(100,0,0,.5);
}