body{
    background-color: #0066FF;
    font-family: Tahoma, sans-serif;
    color:#FAC800;
}
.jumbotron{
    background-color: #0066FF;
    margin:0;
}
.nav{
    margin:0;
}
.container{
    margin:0;
}
header {
    background-color: #0066FF;
    display: inline-block;
    border:solid 2px #FAC800;
    margin:0;
}
.form-group{
    padding:0;
    margin:2px;
}
header nav {
    width:200px;
}
header h1{
    width:200px;
}

ul{
    list-style:none;
}

li{
    float:left;
}
.btn {
    background-color:darkorange;
    color:#000;
    /*padding:40px;*/
    margin:20px;
    height:100px;
    width:165px;
}
.score {
    width :50%;
    height:50%
}
#qList{
    display:block;
    position:relative;
    width:750px;
    left:50px;
}
.btn btn-default dropdown-toggle {
    font-size:50%;
}
#topBorder{
    background-color: #0066FF;
    margin-bottom:10px;
    border:solid 2px #FAC800;
}
